PORT=
NODE_ENV=
CLIENT_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_ABSOLUTE_TTL_DAYS=

REFRESH_TOKEN_COOKIE_NAME=
REFRESH_TOKEN_COOKIE_MAX_AGE_MS=
COOKIE_SECURE=
COOKIE_SAME_SITE=
COOKIE_PATH=
COOKIE_DOMAIN=
